.post {
    margin-left: 5%; /*Spaces the div from the left of the page*/
    margin-right: 5%; /*Spaces the div from the right of the page*/
    background-color: #adaca8; /*Adds a background colour to the div*/
    padding: 3%; /*Adds spacing around the entire div*/
    border-radius: 10px; 
    margin: 10px;
}

h3 {
    text-align: center;
}

img {
    margin-left: 44%;
    margin-top: 1%;
    margin-bottom: 1%;
}